<ion-view view-title="Districts ({{districts.length}})"> 
  <ion-content>

    <div class="bar bar-header item-input-inset">
      <!-- <button class="button button-icon ion-arrow-move" ng-click="model.reorderFlag=!model.reorderFlag;"></button> -->
      <button ng-class="model.reorderFlag ? 'button button-icon ion-navicon': 'button button-icon ion-arrow-move'" ng-click="model.reorderFlag=!model.reorderFlag;"></button>
      	&nbsp;
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input  type="search" placeholder="Search" ng-model="searchText">
      </label>
      <button  class="button button-icon ion-android-cancel" ng-click="searchText=''">
        
      </button>
      	
      	<i class="icon ion-calculator "></i>&nbsp;({{ filtered.length}})
        
    </div>

	<ion-refresher pulling-text="Pull to load Districts.." on-refresh="reloadDistricts()"></ion-refresher>
    <ion-list show-reorder="model.reorderFlag" can-swipe="true">

      <ion-item class="item item-thumbnail-left item-icon-right item-remove-animate" ng-repeat="district in filtered = (districts | filter:searchText)" href="#/app/districts/{{district.id}}"> <img ng-src="data/img/green-grid.png">
        <h2>{{district.descriptionField}}</h2>
        <p>
        {{$scope.count = filtered.length}}
          <i class="ion ion-navicon"></i><span>&nbsp;{{district.idField}}</span>
        </p>
        <p><i class="ion ion-calendar"></i><span>&nbsp;Eff: {{district.effectiveDateField}}</span></p>
        <p><i class="ion ion-ios-calendar"></i><span>&nbsp;Exp: 12-Dec-2050</span></p>

        <i class="icon ion-chevron-right icon-accessory"></i>

        <!-- <ion-delete-button class="ion-minus-circled" ng-click="deleteStation($index)"></ion-delete-button> -->
        <ion-reorder-button class="ion-navicon" on-reorder="moveStation(district,$fromIndex,$toIndex)"></ion-reorder-button>
        <ion-option-button class="mycolor" ng-click="addToFavorites(district); clicked=!clicked;"><i ng-class="clicked ? 'icon ion-ios-heart-outline' : 'icon ion-heart'"></i></ion-option-button>
        <!-- <ion-option-button class="button-assertive " ng-click="deleteStation(district)"><i class="icon ion-trash-a"></i></ion-option-button> -->

      </ion-item>


    </ion-list>
  </ion-content>
</ion-view>