<ion-view view-title="Garage Door Opener">

  <ion-content>
 
<div class="list card">

  <div class="item item-avatar">
    <img src="data/img/garagedoor.jpg">
    <h2>Smart Opener</h2>
    <p>Ameren - Smart Energy For Life</p>
  </div>

  <div class="item item-image">
    <img src="data/img/garagedoor.jpg">
  </div>

  <div class="item  assertive">
    <button class="button button-full button-balanced" ng-click="openCloseGarageDoor()">
  	Tap me
</button>
  </div>

</div>  
            
   
  </ion-content>
</ion-view>