<ion-view view-title="Schedule Usage">
  <ion-content>
    <div class="list">

      <div class="list card">
        
        <div class="item item-avatar item-divider">
          <img style="top:11px;" src="data/img/vacation2.png">
          <h2>Smart Vacation </h2>
          <p>Appear if someone's always home</p>
        </div>

        <div class="item item-body">
          <p>
            Use the 'Smart Vacation' feature to automatically turn devices on and off when you are away and no one's home. Lights will turn on after every 20 minutes and will stay on for 15 minutes. Use this feature to give the appearance that someone is home.
          </p>
          <p>
            <ion-toggle ng-model="tbd" toggle-class="toggle-balanced"><span ng-class="">Enable Smart Vacation</span></ion-toggle>
          </p>
        </div>

      </div>

    </div>
  </ion-content>
</ion-view>